@import "tailwindcss";
@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
  font-family: "Innovator Grotesk";
  src: url("/font/InnovatorGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("/font/InnovatorGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("/font/InnovatorGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("/font/InnovatorGrotesk-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("/font/InnovatorGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@theme {
  --font-display: "Darker Grotesque", serif;
}

@theme {
  --font-sans: "Innovator Grotesk", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

@theme {

  --color-neutral-0: oklch(12.212% 0.003 230);
  --color-neutral-25: oklch(14.43% 0.003 230);
  --color-neutral-50: oklch(16.32% 0.003 230);
  --color-neutral-75: oklch(16.66% 0.003 230);
  --color-neutral-100: oklch(17.35% 0.003 230);
  --color-neutral-200: oklch(21.02% 0.003 230);
  --color-neutral-300: oklch(30.11% 0.003 230);
  --color-neutral-400: oklch(40.63% 0.003 230);
  --color-neutral-500: oklch(50.57% 0.003 230);
  --color-neutral-600: oklch(58.95% 0.003 230);
  --color-neutral-700: oklch(65.68% 0.003 230);
  --color-neutral-800: oklch(73.67% 0.003 230);
  --color-neutral-900: oklch(81.35% 0.003 230);
  --color-neutral-925: oklch(85.35% 0.003 230);
  --color-neutral-950: oklch(89.22% 0.003 230);
  --color-neutral-975: oklch(93.11% 0.003 230);
  --color-neutral-1000: oklch(96.97% 0.003 230);

  --color-ocean-0: oklch(12.212% 0.027 230);
  --color-ocean-25: oklch(14.43% 0.029 230);
  --color-ocean-50: oklch(16.32% 0.030 230);
  --color-ocean-75: oklch(16.66% 0.031 230);
  --color-ocean-100: oklch(17.35% 0.035 230);
  --color-ocean-200: oklch(21.02% 0.059 230);
  --color-ocean-300: oklch(30.11% 0.086 230);
  --color-ocean-400: oklch(40.63% 0.115 230);
  --color-ocean-500: oklch(50.57% 0.143 230);
  --color-ocean-600: oklch(58.95% 0.186 230);
  --color-ocean-700: oklch(65.68% 0.177 230);
  --color-ocean-800: oklch(73.67% 0.142 230);
  --color-ocean-900: oklch(81.35% 0.097 230);
  --color-ocean-925: oklch(85.35% 0.075 230);
  --color-ocean-950: oklch(89.22% 0.055 230);
  --color-ocean-975: oklch(93.11% 0.035 230);
  --color-ocean-1000: oklch(96.97% 0.001 230);

  --color-gold-0: oklch(12.212% 0.027 80);
  --color-gold-25: oklch(14.43% 0.029 80);
  --color-gold-50: oklch(16.32% 0.030 80);
  --color-gold-75: oklch(16.66% 0.031 80);
  --color-gold-100: oklch(17.35% 0.035 80);
  --color-gold-200: oklch(21.02% 0.059 80);
  --color-gold-300: oklch(30.11% 0.086 80);
  --color-gold-400: oklch(40.63% 0.115 80);
  --color-gold-500: oklch(50.57% 0.143 80);
  --color-gold-600: oklch(58.95% 0.186 80);
  --color-gold-700: oklch(65.68% 0.177 80);
  --color-gold-800: oklch(73.67% 0.142 80);
  --color-gold-900: oklch(81.35% 0.097 80);
  --color-gold-925: oklch(85.35% 0.075 80);
  --color-gold-950: oklch(89.22% 0.055 80);
  --color-gold-975: oklch(93.11% 0.035 80);
  --color-gold-1000: oklch(96.97% 0.001 80);

  --color-forest-0: oklch(12.212% 0.027 160);
  --color-forest-25: oklch(14.43% 0.029 160);
  --color-forest-50: oklch(16.32% 0.030 160);
  --color-forest-75: oklch(16.66% 0.031 160);
  --color-forest-100: oklch(17.35% 0.035 160);
  --color-forest-200: oklch(21.02% 0.059 160);
  --color-forest-300: oklch(30.11% 0.086 160);
  --color-forest-400: oklch(40.63% 0.115 160);
  --color-forest-500: oklch(50.57% 0.143 160);
  --color-forest-600: oklch(58.95% 0.186 160);
  --color-forest-700: oklch(65.68% 0.177 160);
  --color-forest-800: oklch(73.67% 0.142 160);
  --color-forest-900: oklch(81.35% 0.097 160);
  --color-forest-925: oklch(85.35% 0.075 160);
  --color-forest-950: oklch(89.22% 0.055 160);
  --color-forest-975: oklch(93.11% 0.035 160);
  --color-forest-1000: oklch(96.97% 0.001 160);

  --color-red-0: oklch(12.212% 0.027 10);
  --color-red-25: oklch(14.43% 0.029 10);
  --color-red-50: oklch(16.32% 0.030 10);
  --color-red-75: oklch(16.66% 0.031 10);
  --color-red-100: oklch(17.35% 0.035 10);
  --color-red-200: oklch(21.02% 0.059 10);
  --color-red-300: oklch(30.11% 0.086 10);
  --color-red-400: oklch(40.63% 0.115 10);
  --color-red-500: oklch(50.57% 0.143 10);
  --color-red-600: oklch(58.95% 0.186 10);
  --color-red-700: oklch(65.68% 0.177 10);
  --color-red-800: oklch(73.67% 0.142 10);
  --color-red-900: oklch(81.35% 0.097 10);
  --color-red-925: oklch(85.35% 0.075 10);
  --color-red-950: oklch(89.22% 0.055 10);
  --color-red-975: oklch(93.11% 0.035 10);
  --color-red-1000: oklch(96.97% 0.001 10);

}

@theme {  
  --tracking-xs: -0.02em;
  --tracking-sm: -0.01em;
  --tracking-md: 0.0em;
  --tracking-lg: 0.01em;
  --tracking-xl: 0.02em;
  --tracking-2xl: 0.04em;
  --tracking-3xl: 0.08em;
  --tracking-4xl: 0.12em;
  --tracking-5xl: 0.16em;
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}