@font-face {
  font-family: "Innovator";
  src: url("/InnovatorGroteskVF.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus-visible {
    @apply outline-none ring-2 ring-[#5BBDFA] ring-offset-1 ring-offset-ocean;
  }

  html {
    @apply font-sans font-normal;
    /* 400 weight for body text */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-bold;
    /* 700 weight for headings */
  }
}

html,
body {
  @apply dark:bg-ocean;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}